.app-carousel ul {
  list-style: none;
  margin: 0 auto;
  overflow: hidden;
  flex: 1 1 0;
}
.app-carousel-images {
  display: flex;
  justify-content: center;
}

.app-carousel-image-wrapper {
  padding: 10px;
  width: 100%;
}

.app-carousel-image-wrapper > img {
  width: 100%;
}
.app-carousel-selected-image-wrapper {
  display: flex;
  justify-content: center;
}

.app-carousel-nav {
  display: flex;
  font-size: 20px;

  justify-content: center;
}
.app-carousel-nav > li {
  cursor: pointer;
  padding: 5px;
}
